
*,
*:after,
*:before {
    box-sizing: border-box;
}
body {
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    color: #cecece;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
    /*color: #fff;*/
    outline: none;
}
a:hover {
    /*color: #ddd;*/
}
header, footer {
    background-color: #f1f1f1;
}
.container {
    overflow-y: auto;
    height: 100vh;
}
.content {
    position: relative;
    min-height: 300px;
    margin: 0 0 0 300px;
}
.content-loading {
    background: url(../img/loading.svg) no-repeat 50% 50%;
}
.content-loading .info {
    display: none;
}
.tab {
    visibility: collapse;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}
.tab-visible {
    visibility: visible;
}
.chart-grid {
    margin: 0 auto;
}
.chart {
    width: 400px;
    height: 400px;
    max-width: 100%;
}
.chart .highcharts-button {
    display: none;
}
.info {
    font-size: 1.1em;
    font-weight: bold;
    padding: 20vh 1em 0;
    text-align: center;
    color: #47484c;
}
.logo {
    top: 0;
    left: 0;
    width: 300px;
    height: 120px;
    padding: 1em 0 0 0;
    text-align: center;
    color: #3b3d4a;
}
.logo-text {
    font-size: 0.75em;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.user-opts {
    position: absolute;
    top: 1em;
    right: 1em;
}
.icon {
    font-family: 'feather';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
}

.menu {
    position: fixed;
    top: 120px;
    left: 0;
    width: 300px;
    height: calc(100vh - 120px);
    border-right: 1px solid #f1f1f1;
    background: #fff;
}
.menu_wrap {
    position: absolute;
    top: 3.5em;
    bottom: 0;
    overflow: hidden;
    width: 100%;
}
.menu_level {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    overflow-y: scroll;
    width: calc(100% + 50px);
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu_level-current {
    visibility: visible;
}
.menu_level-personal {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu_item {
    display: block;
    width: calc(100% - 50px);
}
.menu_link {
    font-weight: 600;
    position: relative;
    display: block;
    padding: 1em 2.5em 1em 1.5em;
    color: #bdbdbd;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
}
.menu_link[data-submenu]::after {
    content: '\e129';
    font-family: 'feather';
    position: absolute;
    right: 0;
    padding: 0.25em 1.25em;
    color: #2a2b30;
}
.menu_link:hover,
.menu_link[data-submenu]:hover::after {
    color: #5c5edc;
}
.menu_link-current::before {
    content: '\00B7';
    font-size: 1.5em;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 0.5em;
    height: 4px;
    color: #5c5edc;
}


[class^='animate-'],
[class*=' animate-'] {
    visibility: visible;
}
.animate-outToRight .menu_item {
    -webkit-animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}
@-webkit-keyframes outToRight {
    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}
@keyframes outToRight {
    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}
.animate-outToLeft .menu_item {
    -webkit-animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}
@-webkit-keyframes outToLeft {
    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
@keyframes outToLeft {
    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
.animate-inFromLeft .menu_item {
    -webkit-animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}
@-webkit-keyframes inFromLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes inFromLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.animate-inFromRight .menu_item {
    -webkit-animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}
@-webkit-keyframes inFromRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes inFromRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


.menu_breadcrumbs {
    font-size: 0.65em;
    line-height: 1;
    position: relative;
    padding: 2.5em 3.75em 1.5em 2.5em;
}
.menu_breadcrumbs a {
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #5c5edc;
}
.menu_breadcrumbs a:last-child {
    pointer-events: none;
}
.menu_breadcrumbs a:hover {
    color: #8182e0;
}
.menu_breadcrumbs a:not(:last-child)::after {
    content: '\e095';
    font-family: 'feather';
    display: inline-block;
    padding: 0 0.5em;
    color: #33353e;
}
.menu_breadcrumbs a:not(:last-child):hover::after {
    color: #33353e;
}
.menu_back {
    font-size: 1.05em;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 2.25em;
    margin: 0;
    padding: 1.365em 0.65em 0 0;
    cursor: pointer;
    color: #2a2b30;
    border: none;
    background: none;
}
.menu_back-hidden {
    pointer-events: none;
    opacity: 0;
}
.menu_back:hover,
.menu_back:focus {
    color: #fff;
    outline: none;
}

.action {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    background: none;
}
.action:focus {
    outline: none;
}
.action-open {
    font-size: 1.5em;
    top: 1em;
    left: 1em;
    display: none;
    position: fixed;
    z-index: 1000;
}
.action-close {
    font-size: 1.1em;
    top: 1.25em;
    right: 1em;
    display: none;
}
.unread {
    color: #36CE78;
}



.chat-messages-list {
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 15px 25px 60px;
}
.chat-messages {
    position: relative;
    font-size: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 170px);
    display: block;
}
.chat-message-bubble {
    display: inline-block;
    font-size: 14px;
    max-width: 350px;
    background-color: #36CE78;
    padding: 8px 14px;
    border-radius: 18px;
    min-width: 0px;
    color: #FFF;
    margin: 0 0 1em 0;
}
.chat-message-myself {
    text-align: right;
}
.chat-message-myself .chat-message-bubble {
    background-color: #32a8e6;
    color: #fff;
    text-align: left;
}
.chat-input-bar {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}
#chat-form {
    margin: 0 1em;
}
#chat-form input{
    margin: 0; 
    padding: 0;
    border: none;
}
#chat-form input[type='text']{
    width: 80%;
    color: #32a8e6;
    height: 100%;
    background-color: transparent;
}

#chat-form input[type='submit']{
    width: 19%;
    height: 34px;
    margin-top: 8px;
    background-color: #32a8e6;
}


.user-page {
    color: #888;
}
.user-page h1 {
    text-align: center;
}
.user-form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.user-form div {
    width: 100%;
    margin-bottom: 10px;
}
.user-form div.right {
    text-align: right;
}
.user-form label {
    width: 210px;
}
.user-form input {
    height: 34px;
}
.user-form button {
    height: 34px;
    background-color: #32a8e6;
    border: none;
}
.user-form input[type='password'],
.user-form input[type='text']{
    width: 100%;
}
.user-form .alert .icon,
.user-form .alert label{
    color: red;
}

@media screen and (max-width: 40em) {
    .header {
        padding-top: 3em;
    }
    .logo {
        width: 100%;
        background: transparent;
        color: #47484c;
    }
    .content {
        margin: 0;
    }
    body,
    .container {
        height: auto;
        overflow: auto;
    }
    .action-open,
    .action-close {
        display: block;
    }
    .menu {
        z-index: 1000;
        top: 0;
        width: 100%;
        height: 100vh;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }
    .menu_open {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
